Repository osrsbox/osrsbox-db, pull requests merged in 2019-04, with the labels that each got.

#95 convert item definition and item equipment to dataclass
  osrsbox/items_api/all_items.py
  osrsbox/items_api/item_definition.py
  osrsbox/items_api/item_equipment.py
  requirements.txt
  setup.py
Labels: enhancement, items

#100 Update dmm-only-items.json
  data/dmm-only-items.json
Labels: data, items

#104 refactor weapon/item equipment into inherited classes
  .gitignore
  osrsbox/items_api/all_items.py
  osrsbox/items_api/item_definition.py
  osrsbox/items_api/item_equipment.py
  osrsbox/items_api/item_weapon.py
  osrsbox/items_api/stance.py
Labels: enhancement, items, package
